/*add a background colour to see if it works*/

body {
    background-color: blueviolet;
}

.jumbotron {
    background-image: no-repeat;
    background-color: aquamarine;
}

.footer {
    background-color: blue;
}